In [ ]:
#importing libraries
from netCDF4 import Dataset
from netCDF4 import num2date
import numpy as np
import os
import pandas as pd
from datetime import datetime

In [ ]:
#Reading the netcdf file
data = Dataset(r'D:\datanc\ERA5_temperature.nc','r')

In [ ]:
data

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2021-05-22 18:02:06 GMT by grib_to_netcdf-2.16.0: /opt/ecmwf/eccodes/bin/grib_to_netcdf -S param -o /cache/data0/adaptor.mars.internal-1621701734.6816711-30064-11-a747bf5b-6454-4a56-8e5d-ba4dffaf7866.nc /cache/tmp/a747bf5b-6454-4a56-8e5d-ba4dffaf7866-adaptor.mars.internal-1621701734.6822758-30064-4-tmp.grib
    dimensions(sizes): longitude(25), latitude(14), time(10201)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 d2m(time,latitude,longitude), int16 t2m(time,latitude,longitude), int16 skt(time,latitude,longitude)
    groups:

In [ ]:
print(data.variables.keys())

dict_keys(['longitude', 'latitude', 'time', 'd2m', 't2m', 'skt'])

In [ ]:
#Accessing the data from variables

time = data.variables['time'][:]
lon = data.variables['longitude'][:]
lat = data.variables['latitude'][:]

In [ ]:
#Storing coordinate of study area
lat_bali =  -8.5511
lon_bali =  115.1216 


#Squared difference of coordinates
sq_diff_lat = (lat_bali - lat)**2
sq_diff_lon = (lon_bali - lon)**2

#Identifying the index of minimum value of coordinates
min_index_lat = sq_diff_lat.argmin()
min_index_lon = sq_diff_lon.argmin()

In [ ]:
#Parameter dari data nc
p = data.variables['skt']

In [ ]:
idx = pd.date_range("2020-01-01", periods=10201, freq="H")

ts = pd.Series(range(len(idx)), index=idx)

ts

2020-01-01 00:00:00        0
2020-01-01 01:00:00        1
2020-01-01 02:00:00        2
2020-01-01 03:00:00        3
2020-01-01 04:00:00        4
                       ...
2021-02-28 20:00:00    10196
2021-02-28 21:00:00    10197
2021-02-28 22:00:00    10198
2021-02-28 23:00:00    10199
2021-03-01 00:00:00    10200
Freq: H, Length: 10201, dtype: int64

In [ ]:
print(p.dimensions)

('time', 'latitude', 'longitude')

In [ ]:
df = pd.DataFrame(0, columns=['skt'],index = idx)

In [ ]:
dt = np.arange(0,data.variables['time'].size)

In [ ]:
for time_index in dt:
    df.iloc[time_index] = p[time_index,min_index_lat,min_index_lon]

In [ ]:
df

                            skt
2020-01-01 00:00:00  300.684602
2020-01-01 01:00:00  299.671909
2020-01-01 02:00:00  299.961250
2020-01-01 03:00:00  300.316197
2020-01-01 04:00:00  300.027417
...                         ...
2021-02-28 20:00:00  297.118310
2021-02-28 21:00:00  296.994387
2021-02-28 22:00:00  297.001116
2021-02-28 23:00:00  297.204663
2021-03-01 00:00:00    0.000000

[10201 rows x 1 columns]

In [ ]:
#Saving the time series into the csv
df.to_excel("dataskt_Tabanan.xlsx")